@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&family=EB+Garamond&family=El+Messiri&family=Marcellus&display=swap');

.infl {
    color: rgb(21, 39, 40);
    
}

.possibility {
    color:rgb(152, 19, 46);
    font-size:28px;
    font-family:'El Messiri', sans-serif;
}

.inflect, .short, .long {
    font-size:24px;
    font-family: 'EB Garamond', serif;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
}

.title {
    font-size:50px;
    margin-bottom: 10px;
    font-family: 'EB Garamond', serif;
}

.head {
    font-family: 'EB Garamond', serif;
    font-size: 30px; 
}

.type {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:32px;
    font-style: italic;
    color:rgb(20, 85, 73);
}

.trans-container {
    border-bottom: 3px;
    border-bottom-style:solid;
    border-bottom-color:darkslategray
}

.anchor-class {
    font-weight:bold;
    color:rgb(152, 19, 46)
}

.anchor-class:hover {
    color:rgb(99, 17, 21)
}