body{
    background-color: lightgoldenrodyellow;
}
#greek, #latin{
    display:none;
}

h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    margin-top: 10px;
}

input {
    margin-left: 8px;
    margin-right: 8px;
}