body{
    background-color:rgb(255, 247, 237);
}
#greek, #latin{
    display:none;
}

h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

h2 {
    margin-top: 10px;
}

input {
    margin-left: 8px;
    margin-right: 8px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary {
    align-self:flex-end;
}

.lang-input {
    
    
    height:24px;
    border-radius:4px;
    font-size:20px;
    vertical-align: middle;
    line-height:28px;
    outline: none;
    padding: 3px 0px 8px 4px;
    margin: 3px 1px 3px 10px;
    border: 1px solid #DDDDDD;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

}

.lang-input:focus{
    outline-color:cadetblue;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    /* padding: 3px 0px 3px 3px; */
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid rgba(81, 203, 238, 1);
}

#greek-label, #latin-label {
    display:inline-block;
    font-size:20px;
    text-align:left;
    height:100%;
}

#form-container {
    
    width:30vw;
    display:flex;
}

.lang-form {
    display:flexbox;
    min-width:30%;
    padding:5px;
}

#latin-cell {
    width: 100%;
}

table {
    max-width: 100%;
}

#gr {
    width: 100px;
} 

#lab {
    width: 20px;
}

#form-container {
    width: 97vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#translation {
    margin-left:15px;
    max-width: 97vw;
}

.phrase-container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    height:3rem;
    line-height:3rem;
    font-size:2rem;
    flex-wrap: wrap;
}

.phrase-word {
    margin-left: 0.5rem;
    margin-right:1rem;
}

.phrase-word:hover {
    color:grey;
    cursor:pointer;
    user-select:none;
}